
    <div id="main-wrapper">

   

      
            <div class="container-fluid">
           

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                               Lista de comics 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card-body">
                        
                       
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>available</th>
                                        <th>collectionURI</th>
                                        <th>resourceURI</th>
                                        <th>name</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr *ngFor="let row of comicDTO">
                                        <td>{{row.available}}</td>
                                        <td>{{row.collectionURI}}</td>
                                        <td>Prohaska</td>
                                        <td>@Genelia</td>
                                       
                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
             
            </div>
     


    </div>
